.navbar-global {
    background-color: indigo;
  }
  
  .navbar-global .navbar-brand {
    color: white;
  }
  
  .navbar-global .navbar-user > li > a
  {
    color: white;
  }
  
  .navbar-primary {
    background-color: #333;
    bottom: 0px;
    left: 0px;
    position: absolute;
    top: 51px;
    width: 200px;
    z-index: 8;
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  
  .navbar-primary.collapsed {
    width: 60px;
  }
  
  .navbar-primary.collapsed .glyphicon {
    font-size: 22px;
  }
  
  .navbar-primary.collapsed .nav-label {
    display: none;
  }
  
  .btn-expand-collapse {
      position: absolute;
      display: block;
      left: 0px;
      bottom:0;
      width: 100%;
      padding: 8px 0;
      border-top:solid 1px #666;
      color: grey;
      font-size: 20px;
      text-align: center;
  }
  
  .btn-expand-collapse:hover,
  .btn-expand-collapse:focus {
      background-color: #222;
      color: white;
  }
  
  .btn-expand-collapse:active {
      background-color: #111;
  }
  
  .navbar-primary-menu,
  .navbar-primary-menu li {
    margin:0; padding:0;
    list-style: none;
  }
  
  .navbar-primary-menu li a {
    display: block;
    padding: 10px 18px;
    text-align: left;
    border-bottom:solid 1px #444;
    color: #ccc;
  }
  
  .navbar-primary-menu li a:hover {
    background-color: #000;
    text-decoration: none;
    color: white;
  }
  
  .navbar-primary-menu li a .glyphicon {
    margin-right: 6px;
  }
  
  .navbar-primary-menu li a:hover .glyphicon {
    color: orchid;
  }
  
  .main-content {
    margin-top: 10px;
    margin-left: 200px;
    padding: 20px;
  }
  
  .collapsed + .main-content {
    margin-left: 60px;
  }

  .feed-img{
    max-width: 20%;
    max-height: 20%;
  }

  /** feed comments **/
  
/** BEGIN content **/
#content {
	float: left;
	width: 655px;
	overflow: hidden;
	padding-bottom: 11px;
}
	#content .post {
		width: 315px;
    padding: 11px 10px 0 0;
    display: inline-block;
  }
  .cont-div{
    display: flex;
  }
		#content .post .details1 {
			background-color: #ECEBEB;
			color: #808080;
			font-size: 0.8em;
			font-family: Verdana;
			font-weight: bold;
			padding: 8px 7px;
			text-transform: uppercase;
			margin-bottom: 5px;
		}
			#content .post .details1 a{
				color: #456069;
				text-decoration: none;
			}
	#content .post .buffer {
		padding: 4px;
		background-color: #ECEBEB;
		margin: 0;
	}
	#content .post .content{
		border: 1px solid #CBCBCB;
		padding: 10px;
		background-color: #ffffff;
		height: 160px;
	}
		#content .post .content img {
			border: 3px solid #ECEBEB;
			margin: 4px 8px 5px 0;
			float: left;
			width: 80px;
		}
		#content .post .content h2 {
			margin-bottom: 5px;
			font-size: 1.5em;
			line-height: 1.3em;
		}
		#content .post .content h2 a {
			text-decoration: none;
			color: #456069;
			font-size: 0.8em;
		}
		#content .post .content p {
			line-height: 1.5em;
		}
	#content .post .details2 {
		background-color: #ECEBEB;
		padding: 8px 7px;
		border-width: 0 1px 1px;
		border-style: solid;
		border-color: #CBCBCB;
	}
		#content .post .details2 a {
			color: #456069;
			font-size: 0.8em;
			font-family: Verdana;
			font-weight: bold;
			text-transform: uppercase;
		}
		#content .post .details2 a:hover {
			text-decoration: none;	
		}
	#content .postnav {
		padding: 20px 5px;
		font-size: 0.9em;
		font-weight: bold;
		clear: both;
	}
		#content .postnav a {
			color: #456069;
		}
	#content .title {
		font-size: 0.9em;
		text-transform: uppercase;
		padding: 15px 5px 10px;
		letter-spacing: 1px;
	}
	#content .single {
		padding: 15px 15px 10px 0;
	}
		#content .single h2 {
			font-size: 1.4em;
			margin-bottom: 15px;
		}
		#content .single p {
			line-height: 1.4em;
			margin-bottom: 10px;
		}
		#content .single ul, #content .single ol {
			list-style-position: inside;
			margin-bottom: 10px;
		}
		#content .single li {
			line-height: 1.4em;
			padding: 2px 0;
		}
		#content .single blockquote {
			padding: 10px 10px 0;
			background-color: #eeeeee;
			border-width: 1px 0;
			border-style: solid;
			border-color: #e0e0e0;
			margin-bottom: 10px;
		}
		#content .single h3, h4, h5, h6 {
			font-size: 1.4em;
			margin-bottom: 5px;
		}
/* * form styling *
.form-group label {
	float: left;
	text-align: left;
	font-weight: normal;
}

.form-group select {
	display: inline-block;
	width: auto;
	vertical-align: middle;
} */